.header {
  height: 50px;
  width: 100%;
  position: fixed;
  padding: 10px 24px;
  background-color: #007aa7b3;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content:flex-start;
  margin-left: 24px;
  gap: 48px;
  font-size: 36px;
  font-weight: 700;
}

.navlink {
    color: #402E32;
}

.navlink:focus,
.navlink:hover{
  text-shadow: #FFF7E9 1px 0 10px;
}

